.personal_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 61vh;
    max-width: 362px;
}

.personal_info .avatar {
    margin-top: 17%;
}

.surname > span:nth-child(3), .name > span:nth-child(3),
.email > span:nth-child(3){
    font-weight: 300;
    font-size: 23px;
}

.surname, .name , .email {
    margin-bottom: 23px;
}

.main_info {
    display: flex;
    justify-content: space-between;
}

.history_info {
    margin-top: 34px;
    max-width: 66%;
    height: 57vh;
    overflow: scroll;
}
