<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
    <style>
        * {
            box-sizing: border-box;
        }
        .error {
            color: red;
        }
        .error_module {
            display: none;
            padding: 25px 30px;
            width: 300px;
            background-color: red;
            border-radius: 10px/10px;
            color: white;
            text-align: center;
            transition: all 0.4s ;
        }
    </style>

</head>

<body>
<div>
    <form th:action="@{registration}" th:object="${UserForm}" method="post">
        <h2>Регистрация</h2>
        <div class="error_module">
            <span th:text="${errorMessage}"></span>
        </div>
        <p>email:<input type="text" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"></span>
        </p>
        <p>name: <input type="text" th:field="*{firstName}" /></p>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error"></span>
        <p>lastName: <input type="text" th:field="*{lastName}" /></p>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error"></span>
        <p>password: <input type="password" th:field="*{password}" /></p>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"></span>
        <p>Confirm password:</p> <input type="password" th:field="*{passwordConfirm}" /></p>
        <p><input type="submit" value="submit" /></p>
    </form>
</div>
<script>
    let errorModule = document.querySelector('body > div > form > div');
    if (document.querySelector('body > div > form > div > span').innerText !== "") {
        errorModule.style.display="block";
        errorModule.style.opacity=".5";
    }
</script>
</body>
</html>