<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Success</title>
</head>
<body>

    <div class="congratulation">
        <div class="sub_congrats">
            <p>Поздравляем с покупкой!</p>
            <img  width="250px" src="../static/img/success.png" th:src="@{/img/success.png}" alt="yohooo!">
            <form action="/">
                <input type="submit" value="Продолжить покупки">
            </form>
        </div>
    </div>
</body>
</html>